html,body {
font-family: 'Libre Baskerville', serif;
    background-color: #AA0000;
    color: whitesmoke;
    font-weight: 300;
}

section#start{
    background-image: url('https://www.seattleu.edu/media/youth-initiative/images/SUYI-Map-for-Web.fw237d.png');
    padding: 40px;
}

section#second {
    padding-top: 20px;
}

section#viz {
    padding: 20px;
    margin-top: 30px;

    -webkit-box-shadow: 0px -48px 109px -41px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -48px 109px -41px rgba(0,0,0,0.75);
    box-shadow: 0px -48px 109px -41px rgba(0,0,0,0.75);
    background-color: white
}

img#case {
    max-width: 300px;
    /*-webkit-box-shadow: 0px 10px 141px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 141px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 141px -22px rgba(0,0,0,0.75);*/
}
p.bio {
    padding-top: 0px;
}

h1 {
    color: #AA0000
}
a{
    color: cornsilk;
}

a:link{
    color:white;
    text-decoration: none;
}
a:hover{
    color:cornsilk;
}

p.motive {
    color: black;
}

h2.motive {
    color: black;
}

div#site > a {
    color: white;
    font-weight:300;
    font-size: 2em;
}

div#site > a:hover{
color:cornsilk;
}

div#site{
    padding-left: 20px;
    padding-top: 20px;
}

p.instruct{
    color:black;
}

div#title{
    width: auto;
    height: auto;
    padding: 20px;
    background-color: cornsilk;
    border-radius: 20px;

    -webkit-box-shadow: 0px 36px 109px -41px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 36px 109px -41px rgba(0,0,0,0.75);
    box-shadow: 0px 36px 109px -41px rgba(0,0,0,0.75);
}

/*iframe.notes {
    -webkit-box-shadow: 0px 10px 141px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 141px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 141px -22px rgba(0,0,0,0.75);
}*/

p.addon {
    padding-top: 20px;
}
