
#zdog-animations {

  $this: &;

  & {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #272730;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
  }

  & {
    overflow: auto;
  }


    svg, canvas {
      width: 100vw !important;
      height: 100vh !important;
  }

}


